/* BEGIN EXTERNAL SOURCE */

    th {
        width: 200px;
    }

    .table-bordered {
        text-align: center;
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
p {
width: 300px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width: 120px
}
/* END EXTERNAL SOURCE */
