
@{
    ViewBag.Title = "XacnhanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Đơn hàng đã được xác nhận</h2>
<h3>Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể !</h3>
<p>
    @Html.ActionLink("Về trang chủ", "Index", "Home")
</p>


