<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body style="background-color: red">
    <hgroup>
        <h1>Error.</h1>
    </hgroup>

    @RenderBody()
</body>
</html>
